@media (max-width: 844px){

.contenedor{
    display: grid;
    grid-template-areas: 
    "header header"
    "baner baner"
    "novedades novedades"
    "imgnovedades imgnovedades"
    "suplementos anabolicos"
    "suplementos entrenamientos"
    "nosotros nosotros"
    "contacto contacto"
    "comunidad comunidad";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 300px 200px 300px 200px 200px 400px 600px 300px;
}

.header{
    grid-area: header;
    background-color:#444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banerBox{
    grid-area: baner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../assets/img/pesas3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.novedades{
    grid-area: novedades;
    background-color:rgb(0, 0, 0);
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.boxImg_novedades{
    grid-area: imgnovedades;
    background-image: url(../assets/img/pers.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boxSuplementos{
    grid-area: suplementos;
    background-image: url(../assets/img/sup.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-position: 50% 50%;
}




.boxQuimica{
    grid-area: anabolicos;
    background-image: url(../assets/img/arnold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: 50% 50%;
}

.boxPersonalizados{
    grid-area: entrenamientos;
    background-image: url(../assets/img/img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-position: 50% 50%;
}

.boxOfertas{
    display: none;
}

.boxNosotros{
    grid-area: nosotros;
    background-color: #171717;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgNosotros{
    display: none;
}

.boxContacto{
    grid-area: contacto;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.boxComunidad{
    grid-area: comunidad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
}

/*FIN GRIDS--------------------------------------------------------*/

.logo{
    height: 60px;
    width: 60px;
    position: relative;
}

.box_nav{
    display: flex;
}

.box_nav li{
    list-style: none;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif ;
    font-weight: bold;
    padding: 0px 10px;
    position: relative;
    right: 20px;
    bottom: 5px;
}

.box_nav li a{
    text-decoration: none;
    color: white;
}

.banerBox h1{
    font-size: 40px;
    color: yellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 2px black;
    position: relative;
    top: 20px;
}

.banerBox h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    position: relative;
    bottom: 15px;
}

.icono{
    display: none;
}

.novedades h3{
    font-size: 40px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.novedades h4 a{
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    position: relative;
    bottom: 40px;
}

.novedades h4 a:hover{
    color:#444444;
    transition: .5s;
}

.boxSuplementos:hover{
    border: solid 5px white;
}


figcaption{
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.541);
    font-style: italic;
}

figcaption a{
    text-decoration: none;
    color: white;
}

.boxQuimica:hover{
    border: solid 3px #EEEEEE;
}


.boxPersonalizados:hover{
    border: solid 3px #EEEEEE;
}


.titutlo_nosotros{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    font-family: 'Open Sans', sans-serif ;
    font-style: italic;
    right: 60px;
}


.texto_nosotros{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: relative;
    width: 300px;
    text-align: left;
    bottom: 30px;
}


.box_textos_contacto{
    position: relative;
    height: 300px;
    width: 200px;
    right: 50px;
}

.text_contacto{
    color: white;
    font-size: 35px;
    margin-bottom: 18px;
    font-family:'Open Sans', sans-serif;
    font-style: italic;
}

.text_contacto2{
    color: white;
    font-size: 15px;
    width: 400px;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 200px;
}

.text_contacto3{
    color: white;
    font-size: 15px;
    width: 200px;
    position: relative;
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
}

.text_contacto4{
    color: white;
    font-size: 15px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
}


.input{
    height: 20px;
    width: 200px;
    font-size: 15px;
    text-align:center;
    position: relative;
    margin-bottom: 10px;
    text-align: left;
    text-indent: 20px;
    top: 20px;
}

.textArea{
    width: 202px;
    font-size: 25px;
    height: 75px;
    text-align: center;
    color: #706f6f;
    bottom: 10px;
    position: relative;
    top: 20px;
}

.boton{
    height: 20px;
    width: 50px;
    border-radius: 0px;
    border: 0px;
    color: black;
    font-size: 10px;
    position: relative;
    top: 20px;
    left: 1px;
}


.box_form{
    position: relative;
    right: 45px;
}

.titulo_comunidad{
    font-family:'Open Sans', sans-serif ;
    font-size: 30px;
    font-weight: bold;
    font-style:italic;
    color: white;
    position: relative;
}

.subtitulo_comunidad{
    font-family:'Open Sans', sans-serif ;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 30px;
}

.mail_comunidad{
    width: 300px;
    height: 30px;
    background-color: #1B1A17;
    border: solid 2.5px white;
    position: relative;
    bottom: 30px;
    text-indent: 75px;
    font-size: 15px;
    color: white;
}

.unirse_comunidad{
    width: 309px;
    height: 30px;
    border-radius: 0px;
    background-color: #1B1A17;
    border: solid 2.5px white;
    color: white;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}

}