@media (max-width: 844px){

.contenedor_suplementos{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 100px 800px 300px;

}

.header_suplementos{
    grid-area: header;
}

.main_suplementos{
    grid-area: main;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_suplementos{
    grid-area: footer;
}

/*FIN GRIDS-------------------------------*/

.titulo_sup{
    color: white;
    font-family:'Open Sans', sans-serif;
}


.interaccion2{
    position: relative;
    top: 15px;
}

.interaccion3{
    position: relative;
    top: 7px;
}


.interaccion4{
    position: relative;
    top: 12px;
}


.creatina_img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}


.op_img{
    height: 120px;
    width: 90px;
    object-fit: contain;
}


.creatina_pulver_img{
    height: 120px;
    width: 120px;
    object-fit: contain;
}


.pulver_hidro_img{
    height: 130px;
    width: 100px;
    object-fit: contain;
}


.serious_img{
    height: 120px;
    width: 150px;
    object-fit: contain;
    position: relative;
    top: 18px;
}

.universal_prod_img{
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.scitec_prod_img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}












}