@media (min-width: 1024px){
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    .contenedor_suplementos{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 120px 1000px 400px;
    }

    .header_suplementos{
        grid-area: header;
        position: fixed;
        width: 100%;
        z-index: 4;
    }

    .main_suplementos{
        grid-area: main;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .footer_suplementos{
        grid-area: footer;
    }

    /*FIN GRIDS----------------------------------*/

    .main_suplementos a{
        text-decoration: none;
    }

    .contenedor_catalogo{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .titulo_sup{
        font-size: 70px;
        color: white;
        font-family:'Open Sans', sans-serif;
        font-weight: bold;
        width: 500px;
        text-align: center;
        position: relative;
        bottom: 20px;
    }

    .contenedor_rss{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 30px;
    }

    .box_rss{
        display: flex;
        justify-content: center;
        width: 500px;
        align-items: center;
        position: relative;
        left: 700px;
    }

    .icono_rss{
        height: 30px;
        width: 30px;
        margin: 0px 10px;
    }


    .icono_chat{
        position: relative;
        right: 20px;
    }

    .carta{
        height: 300px;
        width: 230px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0px 130px;
    }


    .interaccion{
        display: none;
        transition: all .5s;
        color: rgb(255, 255, 255);
        font-family:'Open Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
        width: 230px;
        height: 100px;
        text-align: center;
        font-size: 20px;
    }


.carta:hover > .interaccion{
    display: block;
    transition: all .5s;
    cursor: pointer;
}

    .texto{
        color: white;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        top: 200px;
    }

    .texto2{
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        position: relative;
        top: 200px;
    }


    .creatina_img{
        height: 180px;
        width: 180px;
        object-fit: contain;
    }

    .op_img{
        height: 130px;
        width: 100px;
        object-fit: contain;
    }

    .creatina_pulver_img{
        height: 170px;
        width: 150px;
        object-fit: contain;
    }


    .pulver_hidro_img{
        height: 150px;
        width: 120px;
        object-fit: contain;
    }


    .serious_img{
        height: 150px;
        width: 170px;
        object-fit: contain;
    }

    .universal_prod_img{
        height: 150px;
        width: 150px;
        object-fit: contain;
    }

    .scitec_prod_img{
        height: 150px;
        width: 150px;
        object-fit: contain;
    }


    .footer_estilo{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}