<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conseguí los mejores anabólicos androgénicos de Argentina. Envíos a todo el país y pago en cuotas. ">
    <meta name="keywords" content="anabolico, anabolicos, anabolicos androgenicos, anabolicos argentina, esteroides">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- prueba fuentes textos -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- prueba fuentes titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Anabólicos androgénicos - Estano, testosterona, sustanon, etc.</title>
</head>
<body class="contenedor_anabolicos">
    <header class="header header_anabolicos">
        <a href="../index.html"><img src="../assets/img/tigre_logo.png.png" alt="logo" class="logo"></a>
        <ul class="box_nav">
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../index.html#seccion_suplementos">PRODUCTOS</a></li>
            <li><a href="../index.html#seccion_nosotros">NOSOTROS</a></li>
            <li><a href="../index.html#seccion_contacto">CONTACTO</a></li>
        </ul>
    </header>
    <main class="main_anabolicos">
        <h1 class="titulo_anabolicos">ANABÓLICOS</h1>
        <div class="contenedor_catalogo">
            <a href="">
                <div class="carta">
                        <img src="../assets/img/oxaroid.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion">OXANDROLONA ROID PLUS 50MG</h2>
                </div>
            </a>
            <a href="">
                <div class="carta">
                        <img src="../assets/img/oxi_roid.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion"> OXIMETOLONA ROID PLUS 50MG</h2>
                </div>
            </a>
            <a href="">
                <div class="carta">
                        <img src="../assets/img/stano_jpeg.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion">STANOZOLOL INYECTABLE ROID PLUS 2/5ML</h2>
                </div>
            </a>
            <a href="">
                <div class="carta">
                        <img src="../assets/img/susta_roid.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion">SUSTANON INYECTABLE ROID PLUS 2/5ML</h2>
                </div>
            </a>
            <a href="">
                <div class="carta">
                        <img src="../assets/img/testo_enantato.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion">TESTOSTERONA ENANTATO ROID PLUS 2/5ML</h2>
                </div>
            </a>
            <a href="">
                <div class="carta">
                        <img src="../assets/img/testo_propionato.jpg" alt="" class="img_anabolicos">
                        <h2 class="interaccion">TESTOSTERONA PROPIONATO ROID PLUS 2/5ML</h2>
                </div>
            </a>
        </div>
    </main>
    <footer class="footer_anabolicos footer_estilo">
        <h2 class="titulo_comunidad">UNITE A NUESTRA COMUNIDAD </h2>
        <h3 class="subtitulo_comunidad">y no te pierdas nuestros increíbles beneficios.</h3>
        <form action="#" class="form_comunidad">
            <input type="text" name="Ingresa tu Email aquí*" placeholder="Ingresá tu Email aquí*" class="mail_comunidad">
            <input type="submit" value="Unirse" class="unirse_comunidad">
        </form>
        <div class="contenedor_rss">
            <div class="box_rss">
                <a href="https://www.facebook.com/" target="_blank"><img src="https://icongr.am/entypo/facebook.svg?size=51&color=ffffff" alt="facebook" class="icono_rss"></a>
                <a href="https://twitter.com/?lang=es"  target="_blank"><img src="https://icongr.am/entypo/twitter.svg?size=51&color=ffffff" alt="twitter"  class="icono_rss"></a>
                <a href="https://www.instagram.com/?hl=es-la"  target="_blank"><img src="https://icongr.am/entypo/instagram.svg?size=51&color=ffffff" alt="instagram"  class="icono_rss"></a>
            </div>
            <div>
                <a href="https://web.whatsapp.com/"  target="_blank"><img src="https://icongr.am/entypo/chat.svg?size=51&color=ffffff" alt="whatsapp" class="icono_chat"></a>
            </div>
        </div>
    </footer>
</body>
</html>