<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Encontrá aca los mejores productos para tu dieta y tu entrenamiento a un precio inigualable! Envíos a toda la Argentina y pago en cuotas.">
    <meta name="keywords" content="suplemento, suplementos, entrenamiento, rutina, ejercicio, workout, novedades">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- prueba fuentes textos -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- prueba fuentes titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Últimas novedades y ofertas de los mejores productos!</title>
</head>
<body class="contenedor_novedades">
    <header class="header header_novedades">
        <a href="../index.html"><img src="../assets/img/tigre_logo.png.png" alt="logo" class="logo"></a>
        <ul class="box_nav">
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../index.html#seccion_suplementos">PRODUCTOS</a></li>
            <li><a href="../index.html#seccion_nosotros">NOSOTROS</a></li>
            <li><a href="../index.html#seccion_contacto">CONTACTO</a></li>
        </ul>
    </header>
    <main class="main_novedades">
        <div class="box_tit_nov">
            <h1 class="tit_nov">Disfruta de nuestras</h1>
        </div>
        <div class="box_tit_nov2">
            <h2 class="tit_nov2">¡Ultimas novedades!</h2>
        </div>
        <div class="contenedor_art">
            <div class="carta_nov">
                <div class="contenedor_img_nov"><img src="../assets/img/chaleco.png" alt="articulo" class="img1"></div>
                <div class="contenedor_nom_art"> <h3 class="nom_art">Chaleco con peso Everlast</h3></div>
                <div class="cont_precio"><div class="precio_art">$6700</div></div>
                <div class="cont_carrito"><h3 class="añadir_car_nov">Añadir al carrito</h3></div>
            </div>
            <div class="carta_nov">
                <div class="contenedor_img_nov"><img src="../assets/img/bolsa_box.png" alt="articulo" class="img1"></div>
                <div class="contenedor_nom_art"> <h3 class="nom_art">Bolsa de boxeo Everlast</h3></div>
                <div class="cont_precio"><div class="precio_art">$11399</div></div>
                <div class="cont_carrito"><h3 class="añadir_car_nov">Añadir al carrito</h3></div>
            </div>
            <div class="carta_nov">
                <div class="contenedor_img_nov"><img src="../assets/img/guantes_box.webp" alt="articulo" class="img3"></div>
                <div class="contenedor_nom_art"> <h3 class="nom_art">Guantes de boxeo corti</h3></div>
                <div class="cont_precio"><div class="precio_art">$5500</div></div>
                <div class="cont_carrito"><h3 class="añadir_car_nov">Añadir al carrito</h3></div>
            </div>
        </div>
        <section class="cont_seccion">
            <div class="cont_texto">
                <h3 class="envios_txt">ENVÍOS</h3>
                <span class="position_span">en el dia comprando antes de las 12pm</span>
                <h3 class="envios_txt position_txt">SIN COSTE</h3>
                <span class="position_txt2">superando los $3500</span>
            </div>
            <div class="cont_sello">
                <img src="https://icongr.am/jam/medal-f.svg?size=103&color=ff9500" alt="sello">
                <span>AHORA DISTRIBUIDORES OFICIALES.</span>
                <span>Garantia de calidad asegurada.</span>
            </div>
        </section>>
    </main>
    <footer class="footer_novedades footer_estilo">
        <h2 class="titulo_comunidad">UNITE A NUESTRA COMUNIDAD </h2>
        <h3 class="subtitulo_comunidad">y no te pierdas nuestros increíbles beneficios.</h3>
        <form action="#" class="form_comunidad">
            <input type="text" name="Ingresa tu Email aquí*" placeholder="Ingresá tu Email aquí*" class="mail_comunidad">
            <input type="submit" value="Unirse" class="unirse_comunidad">
        </form>
        <div class="contenedor_rss">
            <div class="box_rss">
                <a href="https://www.facebook.com/" target="_blank"><img src="https://icongr.am/entypo/facebook.svg?size=51&color=ffffff" alt="facebook" class="icono_rss"></a>
                <a href="https://twitter.com/?lang=es"  target="_blank"><img src="https://icongr.am/entypo/twitter.svg?size=51&color=ffffff" alt="twitter"  class="icono_rss"></a>
                <a href="https://www.instagram.com/?hl=es-la"  target="_blank"><img src="https://icongr.am/entypo/instagram.svg?size=51&color=ffffff" alt="instagram"  class="icono_rss"></a>
            </div>
            <div>
                <a href="https://web.whatsapp.com/" target="_blank"><img src="https://icongr.am/entypo/chat.svg?size=51&color=ffffff" alt="whatsapp" class="icono_chat"></a>
            </div>
        </div>
    </footer>
</body>
</html>