<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La proteína más vendida de suero de leche aislada, es la forma de proteína más pura que existe. Contribuye a la protección, recuperación y reconstrucción de las fibras musculares después de la práctica deportiva.">
    <meta name="keywords" content="whey gold, whey protein, whey protein standard, proteina, proteinas, suplemento, suplementos">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- prueba fuentes textos -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- prueba fuentes titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Whey Protein Gold Standard - La mejor proteína del mercado</title>
</head>
<body class="contenedor_op_producto">
    <header class="header header_op_prod">
        <a href="../index.html"><img src="../assets/img/tigre_logo.png.png" alt="logo" class="logo"></a>
        <ul class="box_nav">
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../index.html#seccion_suplementos">PRODUCTOS</a></li>
            <li><a href="../index.html#seccion_nosotros">NOSOTROS</a></li>
            <li><a href="../index.html#seccion_contacto">CONTACTO</a></li>
        </ul>
    </header>
    <div class="links">
        <a href="../index.html" class="estilo_links_cambios">Inicio /</a>
        <a href="suplementos.html"  class="estilo_links_cambios">Volver /</a>
        <a href=""  class="estilo_links_cambios">Whey gold standard</a>
    </div>
    <div class="cambios">
        <a href="" class="estilo_links_cambios posicion_mobile">Anterior</a>
        <a href=""  class="estilo_links_cambios posicion_mobile">/</a>
        <a href=""  class="estilo_links_cambios posicion_mobile">Siguiente</a>
    </div>
    <main class="box_op_prod">
        <img src="../assets/img/op.png" alt="op_img" class="img_op_prod">
    </main>>
    <div class="descripciones">
        <div class="box_descripciones">
            <h2 class="titulo_del_prod">WHEY PROTEIN GOLD STANDARD</h2>
            <h3 class="texto_descripcion">Presentación:
                - Contenido: 2 lb. - 907 gr., en polvo.
                - Porción: 1 Scoop (entre 31 y 32 gr.)
                - Servicios (porciones) por envase: entre 27 y 29 servicios, según el sabor.
            </h3>
            <h3  class="texto_descripcion2">
                Modo de Uso:
                Mezclar 1 Scoop (cuchara) con 180-250 ml. de agua, leche o la bebida de tu preferencia.
                Tomar un 1 Scoop una vez al día, entre 30 y 60 minutos después del entrenamiento para una mejor recuperación.
                Los días de descanso podés consumirlo como un snack, o entre comidas, como parte de tu dieta balanceada.
            </h3>
            <h2 class="titulo_info">
                INFORMACIÓN DEL PRODUCTO
            </h2>
            <h3 class="texto_info">
                100% Whey Gold Standard es la proteína más vendida en el mundo.
                Fomenta la recuperación y el desarrollo de la masa muscular.
                Contiene 24 gr. de proteína por servicio de la más alta calidad para ayudar al desarrollo muscular, tan sólo 1 gr. de grasa y 3 gr. de carbohidratos.
                Contiene 5.5 gr. de BCAAs generados naturalmente que contribuyen al rendimiento y la resistencia.
                Indicado para cualquier persona que realice actividad física sin importar la frecuencia, intensidad o tipo de ejercicio.
            </h3>
        </div>
        <div class="box_interaccion">
            <p class="precio">$7999</p>
            <p class="cantidad">cantidad</p>
            <input type="number" pattern="[0-9]*" max="9999" min="1" value="1" class="selector_cantidad">
            <div class="agregar_carrito">
                <span>Agregar al carrito</span>
            </div>
            <div class="redes_prod">
                <a href="https://www.facebook.com/" target="_blank" class="pos_rss"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=16&color=1100ff" alt="fb_logo"></a>
                <a href="https://twitter.com/?lang=es" target="_blank"  class="pos_rss"><img src="https://icongr.am/entypo/twitter.svg?size=16&color=0084ff" alt="tw_logo"></a>
            </div>
            <h2 class="envios">
                ENVÍOS GRATIS EN COMPRAS SUPERIORES A $3500.
            </h2>
        </div>
    </div>
    <footer class="footer_op_prod footer_estilo">
        <h2 class="titulo_comunidad">UNITE A NUESTRA COMUNIDAD </h2>
        <h3 class="subtitulo_comunidad">y no te pierdas nuestros increíbles beneficios.</h3>
        <form action="#" class="form_comunidad">
            <input type="text" name="Ingresa tu Email aquí*" placeholder="Ingresá tu Email aquí*" class="mail_comunidad">
            <input type="submit" value="Unirse" class="unirse_comunidad">
        </form>
        <div class="contenedor_rss">
            <div class="box_rss">
                <a href="https://www.facebook.com/" target="_blank"><img src="https://icongr.am/entypo/facebook.svg?size=51&color=ffffff" alt="facebook" class="icono_rss"></a>
                <a href="https://twitter.com/?lang=es" target="_blank"><img src="https://icongr.am/entypo/twitter.svg?size=51&color=ffffff" alt="twitter"  class="icono_rss"></a>
                <a href="https://www.instagram.com/?hl=es-la" target="_blank"><img src="https://icongr.am/entypo/instagram.svg?size=51&color=ffffff" alt="instagram"  class="icono_rss"></a>
            </div>
            <div>
                <a href="https://web.whatsapp.com/" target="_blank"><img src="https://icongr.am/entypo/chat.svg?size=51&color=ffffff" alt="whatsapp" class="icono_chat"></a>
            </div>
        </div>
    </footer>
</body>
</html>